.viewDetailsContainer {
    width: 120px;
    height: 34px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
}

.viewLink {
    width: var(--w100);
    height: var(--h100);
    background-color: var(--main-background);
    color: var(--main-text-color);
    font-size: 0.8rem;
    font-weight: 700;
    border: 1px solid var(--main-text-color);
    border-radius: 8px;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: background-color 0.2s ease-in;
    display: flex;
    justify-content: center;
    align-items: center;
}

.viewLink:hover {
    background-color: var(--view-details-btn-bg-hover);
    color: var(--view-details-btn-text-hover);
}

@media (min-width: 680px) {
    .viewLink {
        font-size: 0.9rem;
        padding: 0.5rem 0.5rem;
        margin-top: 0.5rem;
    }
}

@media (min-width: 915px) {
    .viewLink {
        font-size: 0.9rem;
        padding: 0.5rem 0.5rem;
    }
}

