.companyLogo {
    width: 20%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.companyLogo > img {
    width: var(--w100);
    height: var(--h100);
    object-fit: contain;
}