.scrollContainer {
    position: fixed;
    width: 100px;
    right: 47%;
    top: 40px;
}

.scrollUp {
    width: 100%;
    border: none;
    background: none;
    color: crimson;
    transition: 350ms;
}

.scrollUp:hover {
    cursor: pointer;
    color: red;
}