.Header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    border-bottom: var(--header-border-bottom);
    box-sizing: border-box;
    background-color: var(--header-background);
}

.logo {
    width: 30%;
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 2em;
}

.logoImg {
    height: 80%;
    border-radius: 50%;
}

.logo  h1 {
    font-size: 40px;
    font-weight: 900;
    margin: 0;
    padding-left: .5em;
}

.logo a {
    text-decoration: none;
    color: var(--website-name);
}

.navigate {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigate > a {
    text-decoration: none;
    margin: 0 .8em;
    color: var(--header-navigation);
    font-size: 24px;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.navigate > a[class='active'] {
    text-decoration: underline 5px var(--nav-underline);
    text-underline-offset: 22px;
}

.navigate > a:hover {
    color: var(--nav-hover);
}

.searchbarSettings {
    width: 26%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin-right: 2em;
}

.user {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2em;
}

.profileMenu {
    display: flex;
    align-items: center;
}