.watchlistContainer {
    width: var(--w100);
    height: var(--h100);
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin-top: 1rem;
}

.emptyContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--main-text-color);
    margin-top: 2.5rem;
}

.emptyTextOne {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 700;
}

.emptyTextTwo {
    margin-top: 2rem;
    text-align: center;
    font-size: 1.1rem;
}