.page {
    width: var(--w100);
    height: 100%;
    padding: 0 var(--padding-gap-1) var(--padding-gap-1) var(--padding-gap-1);
    background-color: var(--main-page-background);
    padding-top: 64px;
    flex-grow: 1;
}