.movieInfoUnderCarouselContainer {
    position: absolute;
    bottom: 158px;
    left: 350px;
    width: 900px;
    height: 240px;
    display: flex;
}

.movieInfoCarouselInfo {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 28px;
}

.movieInfoCarouselPoster {
    width: 40%;
    height: 100%;
}

.movieInfoCarouselPoster > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.movieInfoCarouseRelease {
    color: var(--header-navigation);
    font-weight: 700;
}

.movieInfoCarouseOverview {
    padding: 5px;
    text-align: justify;
    color: var(--text-primary);
    font-size: 17px;
}

.movieInfoCarouselLink {
    box-sizing: border-box;
   background-color: var(--header-navigation);
    border-radius: var(--border-radius);
    padding: 7px;
    margin-top: 20px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 350ms;
}

.movieInfoCarouselLink:hover {
    filter: brightness(110%);
}