.themeContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.light {
    width: 40px;
    height: 40px;
    color: var(--orange-color);
}

.dark {
    width: 40px;
    height: 40px;
    color: var(--orange-color);
}