.deskNavContainer {
    height: var(--h100);
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}

.desNavList {
    display: flex;
    align-items: center;
}

.listItem {
    margin: 0 0.5rem;
    border-radius: 8px;
}

.listItem > a {
    color: var(--grey-color-2);
    text-decoration: none;
    padding: 0.5rem 0.5rem;
    transition: background-color 0.2s ease-in;
    border-radius: 8px;
}

.listItem > a[class='active'] {
    color: var(--main-text-color);
    text-decoration: underline 2px var(--main-text-color);
    text-underline-offset: 20px;
}

.listItem > a:hover {
    color: var(--orange-color);
    background-color: var(--main-text-color);
}