.movieCardContainer {
    width: 48%;
    min-height: 220px;
    background-color: var(--main-background);
    border-radius: 8px;
    border: 1px solid var(--grey-color-1);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    transition: background-color 0.2s ease-in;
}

.movieCardContainer:hover {
    box-shadow: 0 0 5px var(--main-text-color);
    background-color: var(--view-details-btn-bg-card-hover);
}

.detailsContainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-end;
}

@media (min-width: 680px) {
    .movieCardContainer {
        flex-direction: row;
    }

    .detailsContainer {
        width: calc(100% - 140px);
        padding-left: 1rem;
        justify-content: flex-start;
    }
    .detailsContainer > *:not(:last-child) {
        margin-bottom: 0.5rem;
    }

    .detailsContainer > *:last-child {
        margin-top: auto;
    }
}

@media (min-width: 915px) {
    .movieCardContainer {
        width: 32%;
        justify-content: space-between;
    }
}

@media (min-width: 1500px) {
    .movieCardContainer {
        width: 24%;
    }
}