* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

:root {
  --w100: 100%;
  --h100: 100%;
  --vh100: 100%;
  --black-background: #000;
  --black-text-color: #000;
  --black-page-background: #111;
  --white-page-background: #fafafa;
  --white-background: #fff;
  --white-text-color: #fff;
  --main-background: var(--black-background);
  --view-details-btn-bg-hover: var(--white-background);
  --view-details-btn-text-hover: var(--black-background);
  --view-details-btn-bg-card-hover: #080808;
  --main-page-background: var(--black-page-background);
  --main-text-color: var(--white-text-color);
  --mobile-navigation-wrapper-background-light: rgba(255, 255, 255, 0.4);
  --mobile-navigation-wrapper-background-dark: rgba(0, 0, 0, 0.4);
  --main-mobile-nav-wrapper-background: var(--mobile-navigation-wrapper-background-light);
  --grey-color-1: #333;
  --grey-color-2: #999;
  --orange-color: #f26419;
  --padding-gap-1: 1.5rem;
  --padding-gap-2: 0.7rem;
  --text-shadow-color: var(--orange-color);
  --clear-icon-color: var(--grey-color-2);
}

[data-theme='light'] {
  --main-background: var(--white-background);
  --main-text-color: var(--black-text-color);
  --main-page-background: var(--white-page-background);
  --main-mobile-nav-wrapper-background: var(--mobile-navigation-wrapper-background-dark);
  --view-details-btn-bg-hover: var(--black-background);
  --view-details-btn-text-hover: var(--white-background);
  --view-details-btn-bg-card-hover: var(--white-page-background);
  --text-shadow-color: lightgrey;
  --clear-icon-color: #000;
}

.app {
  width: 100%;
  height: 100%;
  background-color: var(--main-background);
  display: flex;
  justify-content: center;
}

#root {
  width: 100%;
  height: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.no-overflow {
  overflow: hidden;
}