* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

:root {
  --w100: 100%;
  --h100: 100%;
  --vh100: 100%;
  --black-background: #000;
  --black-text-color: #000;
  --black-page-background: #111;
  --white-page-background: #fafafa;
  --white-background: #fff;
  --white-text-color: #fff;
  --main-background: var(--black-background);
  --main-page-background: var(--black-page-background);
  --main-text-color: var(--white-text-color);
  --mobile-navigation-wrapper-background-light: rgba(255, 255, 255, 0.4);
  --mobile-navigation-wrapper-background-dark: rgba(0, 0, 0, 0.4);
  --main-mobile-nav-wrapper-background: var(--mobile-navigation-wrapper-background-light);
  --grey-color-1: #333;
  --grey-color-2: #999;
  --orange-color: #f26419;
  --padding-gap-1: 1.5rem;



  /*--background: #151616;*/
  /*--header-background: #050401;*/
  /*--header-navigation: crimson;*/
  /*--header-border-bottom: 5px solid #FFFAFF;*/
  /*--website-name: snow;*/
  /*--nav-underline: snow;*/
  /*--nav-hover: snow;*/
  /*--profile-background: #151616;*/
  /*--profile-border: 5px solid crimson;*/
  /*--profile-menu-hover: #525357;*/
  /*--movieInfo-text-color: snow;*/
  /*--genreBar-navigation-text: snow;*/
  /*--bg:  #242526;*/
  /*--nav-size: 60px;*/
  /*--border-radius: 8px;*/
  /*--speed: 500ms;*/
  /*--text-primary: #FFFFFF;*/
  /*--footer-bottom-text: #FFFFFF;*/
  /*--movie-card-color: #242526;*/
  /*--overview-text-size: 20px;*/
  /*--genre-badge-color: darkorange;*/
  /*--genre-badge-background: #333333;*/
}

[data-theme='light'] {
  --main-background: var(--white-background);
  --main-text-color: var(--black-text-color);
  --main-page-background: var(--white-page-background);
  --main-mobile-nav-wrapper-background: var(--mobile-navigation-wrapper-background-dark);

.no-overflow {
  overflow-y: hidden;
}

  /*--background: #FDF0D5;*/
  /*--header-background: #3B429F;*/
  /*--header-navigation: #EDAE49;*/
  /*--header-border-bottom: 5px solid #AFB3F7;*/
  /*--website-name: #1B98E0;*/
  /*--nav-underline: darkorange;*/
  /*--nav-hover: #280003;*/
  /*--profile-background: white;*/
  /*--profile-border: 5px solid crimson;*/
  /*--profile-menu-hover: #AFB3F7;*/
  /*--movieInfo-text-color: crimson;*/
  /*--genreBar-navigation-text: #EDAE49;*/
  /*--text-primary: #000;*/
  /*--footer-bottom-text: #FFFFFF;*/
  /*--movie-card-color: #242526;*/
  /*--overview-text-size: 20px;*/
  /*--genre-badge-color: red;*/
  /*--genre-badge-background: #333333;*/
}

.app {
  background-color: var(--main-background);
  transition: all 350ms;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

html {
  overflow: scroll;
}

::-webkit-scrollbar {
  display: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menuBtn {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 34%;
  left: 0;
  right: 0;
  margin: 0 14px;
}

.menuBtn > button {
  width: 60px;
  opacity: 0.5;
  border: none;
  color: #fff;
  cursor: pointer;
  height: 55px;
  background-size: 300% 100%;
  border-radius: 50px;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
}

.menuBtn > button:hover {
  opacity: 1;
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}