.genreMenuMainItem {
    width: var(--w100);
    position: relative;
}

.chooseBtn {
    border: none;
    color: var(--white-text-color);
    font-size: 1.2rem;
    background-color: inherit;
    cursor: pointer;
    transition: color 0.2s ease-in;
}

.chooseBtn:hover {
    color: var(--orange-color);
}

.activeIcon {
    position: absolute;
    left: -35px;
    top: -3px;
}

.icon {
    width: 25px;
    height: 25px;
    color: red;
}

.active {
    color: red;
    font-weight: 700;
}