.container {
    display: flex;
    align-items: center;
    margin-right: 2em;
}

.searchResultContainer {
    width: 450px;
    height: 300px;
    position: absolute;
    overflow: auto;
    top: 88px;
    right: 310px;
    background: var(--profile-background);
    border: var(--profile-border);
    border-radius: var(--border-radius);
    box-sizing: border-box;
    z-index: 10;
}

.searchResult {
    width: 100%;
    height: auto;
    display: flex;
    margin: 5px 0;
    padding: 3px;
    transition: 350ms;
}

.searchResult:hover {
    background-color: var(--profile-menu-hover);
    transform: scale(0.9);
    cursor: pointer;
}

.searchResult > img {
    width: 50px;
    height: 100%;
    object-fit: contain;
}

.movieInfo {
    margin-left: 10px;
}

.movieInfo > p {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
}

.title {
    color: var(--text-primary);
}

.releaseDate {
    color: snow;
}

/*  Search Bar  */
.searchBar {
    display: flex;
}

.searchBar > input {
    background-color: snow;
    border: none;
    padding-left: 10px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    font-size: 1.1rem;
}

.searchIcon > svg {
    width: 50px;
    color: var(--header-navigation);
}

.searchIcon {
    background-color: snow;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

input:focus {
    outline: none;
}











